/* style.css */
body {
    font-family: Arial, sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #d41919;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.intro, .features {
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

footer {
    background-color: lightblue;
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.button-container {
    text-align: center; /* Center the buttons */
    margin-top: 20px;
}

.btn {
    text-decoration: none; /* Remove underline from links */
    color: #007bff; /* Button text color */
    background-color: white; /* Transparent background */
    padding: 10px 20px; /* Padding inside the button */
    border: 2px solid #007bff; /* Border color */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Text size */
    transition: all 0.3s; /* Smooth transition for hover effect */
}

.btn-outline:hover, .btn-outline:focus {
    background-color: #007bff; /* Background color on hover/focus */
    color: white; /* Text color on hover/focus */
}
